.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #acc8e5;
}

.searchBar {
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 10px;
}

.titleInput {
  width: 50%;
  padding: 10px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
}

.noteInput {
  width: 65%;
  padding-top: 20px;
  padding: 10px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  height: 150px;
}
.saveNoteButton {
  margin-top: 10px;
}

.noteContainer {
  width: 55%;
  margin: 5px 0;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
}

.noteFiles {
  margin-top: 20px;
}

.titleBanner01 {
  border: 2px solid black;
  margin-bottom: 5px;
}

.titleFullView {
  width: 50%;
  display: inline-block;
  text-align: center;
}
.noteFullView {
  width: 65%;
  margin: 5px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  height: 150px;
}

.editingView {
  border: none;
}

.crudButtons {
  margin: 10px 0px;
}

.editButton {
  margin: 5px;
}
.deleteButton {
  margin: 5px;
}
.editNoteInput {
  width: 99%;
  margin: 5px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  height: 143px;
}

.header {
  margin-top: 0px;
  background-color: #112a46;
  height: 90px;
  padding-top: 5px;
}

.addNewButton {
  padding-top: 10px;
}

.getStartedCard {
  border: 2px solid black;
  height: 180px;
  margin-left: 23px;
  width: 85%;
  padding: 0px;
  margin-top: 36px;
}

.helloWorldCard {
  border: 2px solid black;
  height: 180px;
  margin-left: 23px;
  width: 85%;
  padding: 0px;
  margin-top: 20px;
}

.cardBanner {
  border-bottom: 2px solid black;
  margin-bottom: 29px;
  margin-top: -20px;
  height: 55px;
  background-color: #112a46;
}

.cardBanner2 {
  padding-bottom: 0px;
  border-bottom: 2px solid black;
  margin-top: -20px;
  margin-bottom: -13px;
  background-color: #112a46;
  height: 55px;
}

.signUpButton {
  margin-left: 2px;
  width: 129px;
  height: 37px;
}

.signInButton {
  width: 129px;
  height: 37px;
}
